footer {
    padding: 2.25rem 0;
    background-color: var(--clr-primary);
}

footer .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

footer .link-start {
    background: var(--grad-purple);
}

footer .link-start:hover,
footer .link-start:focus {
    background: var(--grad-purple-light);
}