header {
    display: grid;
    align-items: center;
    height: var(--header-height);
}

header .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

// Tablet

@media (min-width: 48em) {
    header {
        // place the header ahead of the hero 
        position: relative;
        z-index: 2;
    }
}