.courses {
    --card-padding: 1.75rem;
    --icon-size: 3.5rem;

    background: var(--grad-blue-light);
    padding-bottom: 2.5rem;
}

.courses-title-container,
.course-card {
    padding: var(--card-padding);
    padding-bottom: 2rem;
    border-radius: .625rem;
}

.courses-title-container {
    background: var(--grad-pink);
    color: var(--clr-white);
}

.course-card {
    position: relative;
    margin-top: 2.5rem;
    padding-top: calc(var(--card-padding) + calc(var(--icon-size) / 2));
    background-color: var(--clr-white);
    box-shadow: 0 1.5rem 3.25rem rgba(6, 22, 141, 0.0445);
}

.course-icon {
    width: var(--icon-size);
    aspect-ratio: 1 / 1;
    position: absolute;
    top: calc((var(--icon-size) / 2) * -1);
    inset-inline-start: var(--card-padding);
}

.course-description {
    margin: 1rem 0 1.5rem;
} 


// Tablet

@media (min-width: 48em) {

    .courses {
        --card-padding: 2rem;
        margin-top: 1.5rem;
        padding-bottom: 5.375em;
    }

    .courses .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 2rem .75rem;
    }

    .courses-title-container,
    .courses-list {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    .courses-title-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .courses-list li:nth-child(1) {
        grid-column: 2 / 3;
    }

    .courses-title-container,
    .course-card {
        margin-top: calc(var(--icon-size) / 2);
        padding-top: calc(var(--card-padding) + calc(var(--icon-size) / 2));
        padding-inline-end: 1.25rem;
    }

    .course-card {
        display: flex;
        flex-direction: column;
    }

    .course-card .link-start {
        margin-top: auto;
    }

}


// Desktop

@media (min-width: 75em) {

    .courses {
        margin-top: 3.5rem;
        padding-bottom: 9em;
    }

    .courses .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 3.5rem 1.875rem;
    }

    .courses-title-container,
    .course-card {
        padding-inline-end: var(--card-padding);
    }

    .course-card {
        gap: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .course-description {
        margin: 0;
    } 


}