.heading-l,
.heading-m,
.heading-s {
    font-weight: 800;
}

.heading-l {
    font-size: 2.5rem;
    line-height: 1.27;
}

.heading-m {
    font-size: 1.5rem;
    line-height: 1.25;
}

.heading-s {
    font-size: 1.25rem;
    line-height: 1.17;
}

.body-m {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.55;
    color: var(--clr-secondary);
}

.body-s {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.75;
}

@media (min-width: 75em) {

    .heading-l {
        font-size: 3.5rem;
    }
    
    .heading-m {
        font-size: 2rem;
    }
    
    .heading-s {
        font-size: 1.5rem;
    }
    
    .body-m {
        font-size: 1.125rem;
    }
    
    .body-s {
        font-size: 1rem;
    }

}